body, html {
  margin: 0;
  padding: 0;
  background-color: #606261;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}
header {
  background-color: #0099A8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}
#logo {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
}
.header-top, .header-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#playlistButtons {
  display: flex;
  gap: 10px;
}
#playlistButtons span {
  font-variant: small-caps;
  margin-right: 15px;
}
#playlistButtons button, #controls button, #playbackControls button {
  background: #007B86;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  width: 70px;
  height: 50px;
}
#controls {
  display: flex;
  gap: 10px;
}
main {
  display: flex;
  height: calc(100% - 120px);
}
#playerPane {
  flex-grow: 1;
  background: #000;
}
#playlistPane {
  width: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  position: relative;
  font-size: 1rem;
}
#playbackControls {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
